* {
    box-sizing: border-box;
}

#chat-box {
    width: 300px;
    margin: auto;
    border: 1px solid #ddd;
}

#chat-list {
    height: 300px;
    width: auto;
    word-wrap: break-word;
    overflow-y: scroll;
}

#chat-list ul {
    list-style: none;
    padding: 10px;
}

.form-group {
    padding: 7px;
}

#chat-form textarea {
    width: 100%;
}

#chat-form button {
    width: 100%;
    padding: 7px;
}